<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rsa</title>
</head>
<body>
<h4>随机生成了一个公钥！</h4>
<br>公钥的N为:{{public_key.n}}
<br>公钥的E为:{{public_key.e}}
<div>
    <br>进入加密页面可以加密解密 ——><a href="{% url 'testrsa:encrypt' %}" target="_blank">加密页面</a>
    <!--
<form id="testrsa" name="testrsa" method="post" action="{% url 'testrsa:testrsa' %}">
    {% csrf_token %}
    <textarea name="crypto" type="text" id="crypto" placeholder="请输入密文" required rows="20" cols="60"></textarea><input type="submit" value="提交">
</form>
-->
</div>
</body>
</html>